@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_area">
    <!-- slider section -->
    <section class="slider_section ">
        <div class="slider-bg">
            <img src="~/images/laptopman.jpg" alt="">
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Laptop Problem? <br>
                                        We will fix your Laptop
                                    </h1>
                                    <p>
                                        Get your windows or iOs Macbook laptop fix instantly by a qualified engineer. Onsitego offers quality repair services for your laptop at your doorstep.
                                    </p>
                                    <a href="tel:+91 70458 51104">
                                        Call Today
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Laptop problem? <br>
                                        We will fix your Laptop
                                    </h1>
                                    <p>
                                        We offer 30 days Computer/Laptop Repair Service Warranty. In that case, you can always contact doorstep by calling (+91) 89764 84658 and request revisit free of cost for ...
                                    </p>
                                    <a href="tel:+91 70458 51104">
                                        CALL TODAY
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="detail-box">
                                    <h1>
                                        Computer problem? <br>
                                        We will fix your computer
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam velit saepe dolorem deserunt quo quidem ad optio.
                                    </p>
                                    <a href="#">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>


<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our <span>Services</span>
                </h2>
                <p>
                    Laptop Repair Mumbai Service with Same Day Onsite Support for Laptop & Computer Repairing Service from Expert Computer Hardware Engineers.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Laptop Repair
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The
                                point of using
                            </p>
                            <a href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hardware Replacement
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The
                                point of using
                            </p>
                            <a href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Data Recovery
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The
                                point of using
                            </p>
                            <a href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/images/s4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Software Update
                            </h5>
                            <p>
                                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                The
                                point of using
                            </p>
                            <a href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- end service section -->
<!-- about section -->

<section class="about_section">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Provide Best Service
                        </h2>
                    </div>
                    <p>
                        Fast Business Funding is a leading marketplace for business loans in the United States and Australia. The
                        company helps small-to-medium businesses get the right funding solutions by matching them with optimal
                        lenders in the quickest and simplest way possible.
                        Fast Business Funding is rapidly growing with over 55,000 loyal customers registered through its platform.
                    </p>
                    <a href="#">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/secure.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- why us section -->

<section class="why_us_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/w1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Free Diagnostics
                        </h5>
                        <p>
                            variations of passages of Lorem Ipsum available
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/w2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Quick Repair Process
                        </h5>
                        <p>
                            variations of passages of Lorem Ipsum available
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/images/w3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Low Price Guarantee
                        </h5>
                        <p>
                            variations of passages of Lorem Ipsum available
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why us section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                What Our Customers Say
            </h2>
        </div>
        <div class="carousel-wrap">
            <div class="owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/images/profile.png" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Mahesh Gupta
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                The service is smooth and straightforward... My advisor was helpful... I would recommend deal direct...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/images/profile.png" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Harsh Mishra
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                Great customer service! The man I spoke with was very helpful in answering questions
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/images/profile.png" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Praksh Adsul
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                Excellent customer service from.. He helped clarify many questions I had regarding (Service)..
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="~/images/profile.png" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Firoz Khan
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                Efficient communication and a really easy way to get a mortgage with lots of help and support to get the right deal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
