@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Provide Best Service
                        </h2>
                    </div>
                    <p>
                        Fast Business Funding is a leading marketplace for business loans in the United States and Australia. The
                        company helps small-to-medium businesses get the right funding solutions by matching them with optimal
                        lenders in the quickest and simplest way possible.
                        Fast Business Funding is rapidly growing with over 55,000 loyal customers registered through its platform.
                    </p>
                    <a href="#">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/about.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->